<table>
  <tr>
    <th>Subject</th>
    <th>Date Opened</th>
    <th>Last Update</th>
    <th>Date Closed</th>
  </tr>
  <% tickets.each do |ticket| %>
    <tr>
      <td><%= link_to ticket.subject, ticket_path(ticket) %></td>
      <td><%= ticket.created_at %></td>
      <td><%= ticket.updated_at %></td>
      <td><%= ticket.closed_at if ticket.closed %></td>
    </tr>
  <% end %>
</table>